<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>住哪儿.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>93E02C4B1DDB58C7007EAE1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93E02C641DDB58C8007EAE1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93E02C6F1DDB58C8007EAE1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
